In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

In [3]:
table_class = 'wikitable sortable jquery-tablesorter'

In [4]:
response=requests.get(url)

In [5]:
print(response.status_code)

200

In [6]:
webpage = response.text

In [7]:
with open("Largest Companies", "wb") as f:
    f.write(webpage.encode())

In [8]:
soup = BeautifulSoup(webpage, 'html.parser')

In [9]:
table = soup.find_all('table', {'class':'wikitable'})

In [10]:
citytable = table[0]

In [11]:
df=pd.read_html(str(citytable))

In [12]:
df=pd.DataFrame(df[0])

In [13]:
df.head(50)

,Rank.,Name.,Industry under which the companies are,Revenue,Profit,Employed members of the Company are:,Headquarters[note 1],State-owned,Ref.
,Rank.,Name.,Industry under which the companies are,USD millions,USD millions,Employed members of the Company are:,Headquarters[note 1],State-owned,Ref.
0,1,Walmart,Retail,"$572,754","$13,673",2300000,United States,NaN,[1]
1,2,"Amazon.com, Inc.",Retail,"$469,822","$33,364",1608000,United States,NaN,[4]
2,3,State Grid Corporation of China,Electricity,"$460,616.9","$7,137.8",871145,China,NaN,[5]
3,4,China National Petroleum Corporation,Oil and gas,"$411,692.9","$9,637.5",1090345,China,NaN,[6]
4,5,China Petrochemical Corporation,Oil and gas,"$401,313.5","$8,316.1",542286,China,NaN,[7]
5,6,Saudi Aramco,Oil and gas,"$400,399.1","$105,369.1",68493,Saudi Arabia,NaN,[8]
6,7,Apple Inc.,Electronics,"$365,817","$94,680",154000,United States,NaN,[9]
7,8,Volkswagen Group,Automotive,"$295,819.8","$18,186.6",662575,Germany,NaN,[10]
8,9,China State Construction Engineering,Construction,"$293,712.4","$4,443.8",368327,China,NaN,[11]
9,10,CVS Health,Healthcare,"$292,111","$7,910",258500,United States,NaN,[12]
10,11,UnitedHealth Group,Healthcare,"$287,597","$17,285",350000,United States,NaN,[13]
11,12,ExxonMobil,Oil and gas,"$285,640","$23,050",63000,United States,NaN,[14]
12,13,Toyota,Automotive,"$279,337.7","$25,371.4",372817,Japan,NaN,[15]
13,14,Berkshire Hathaway,Financials,"$276,094","$89,795",372000,United States,NaN,[16]
14,15,Shell plc,Oil and gas,"$272,657","$20,101",82000,United Kingdom,NaN,[17]
15,16,McKesson Corporation,Healthcare,"$263,966","$1,114",66500,United States,NaN,[18]
16,17,Alphabet Inc.,Information technology,"$257,637","$76,033",156500,United States,NaN,[19]
17,18,Samsung Electronics,Electronics,"$244,334.9","$34,293.5",266673,South Korea,NaN,[20]
18,19,Trafigura,Commodities,"$231,208.1","$3,100",9031,Singapore,NaN,[21]
19,20,Foxconn,Electronics,"$214,619.2","$4,988.3",826608,Taiwan,NaN,[22]
20,21,AmerisourceBergen,Healthcare,"$213,988.8","$1,539",40000,United States,NaN,[23]
21,22,Industrial and Commercial Bank of China,Financials,"$209,000.4","$46,898.9",434089,China,NaN,[24]
22,23,Glencore,Commodities,"$203,751","$4,974",81284,Switzerland,NaN,[25]
23,24,China Construction Bank,Financials,"$200,434","$46,898.9",375531,China,NaN,[26]
24,25,Ping An Insurance,Financials,"$199,629","$15,753",355982,China,NaN,[27]
25,26,Costco,Retail,"$195,929","$5,007",288000,United States,NaN,[28]
26,27,TotalEnergies,Oil and gas,"$184,634","$16,032",101309,France,NaN,[29]
27,28,Agricultural Bank of China,Financials,"$181,411.7","$37,390.8",455174,China,NaN,[30]
28,29,Stellantis,Automotive,"$176,663","$16,789.1",281595,Netherlands,NaN,[31]
29,30,Cigna,Healthcare,"$174,078","$5,365",72963,United States,NaN,[32]
30,31,Sinochem,Chemicals,"$172,260.3",–$197.7,220760,China,NaN,[33]
31,32,AT&T,Telecommunications,"$168,864","$20,081",202600,United States,NaN,[34]
32,33,Microsoft,Information technology,"$168,088","$61,271",181000,United States,NaN,[35]
33,34,China Railway Engineering Corporation,Construction,"$166,452.1","$1,853.2",310817,China,NaN,[36]
34,35,BP,Oil and gas,"$164,195","$7,565",65900,United Kingdom,NaN,[37]
35,36,Cardinal Health,Healthcare,"$162,467",$611,46827,United States,NaN,[38]
36,37,Chevron Corporation,Oil and gas,"$162,465","$15,625",42595,United States,NaN,[39]
37,38,Mercedes-Benz Group,Automotive,"$158,306.1","$27,200.8",172425,Germany,NaN,[40]
38,39,China Railway Construction Corporation,Construction,"$158,203","$1,703.8",366833,China,NaN,[41]
39,40,China Life Insurance Company,Insurance,"$157,095.3","$3,087.1",182646,China,NaN,[42]
40,41,Mitsubishi Group,Conglomerate,"$153,690","$8,345.8",80728,Japan,NaN,[43]
41,42,Bank of China,Financials,"$152,409.3","$33,573",306322,China,NaN,[44]
42,43,The Home Depot,Retail,"$151,157","$16,433",490600,United States,NaN,[45]
43,44,Baowu,Steel,"$150,730","$2,994.9",230884,China,NaN,[46]
44,45,Walgreens Boots Alliance,Retail,"$148,579","$2,542",258000,United States,NaN,[47]
45,46,JD.com,Retail,"$147,526.2",–$551.8,385357,China,NaN,[48]
46,47,Allianz,Financials,"$144,516.6","$7,815.2",155411,Germany,NaN,[49]
47,48,Axa,Financials,"$144,446.8","$8,623.9",92398,France,NaN,[50]
48,49,Marathon Petroleum,Oil and gas,"$141,032","$9,738",17700,United States,NaN,[51]
49,50,Elevance Health,Healthcare,"$138,639","$6,104",98200,United States,NaN,[52]

In [14]:
df.to_csv('Largest Companies.csv', index=False)

In [15]:
df.to_excel('Largest Companies.xlsx', index=True)